<!doctype html>
<html>
  <head>
    <title>About <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <%- include('header') %>
  <body>
    <h1>About <%=siteName%></h1>
    <p>We provide you with the current market price ranges of select coins!</p>
  </body>
</html>