<!DOCTYPE html>
<html>
  <head>
    <title>About <%=siteName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <%- include('header') %>
  <body>
    <section id="about">
      <h1>Welcome to <span>About <%=siteName%></span></h1>
      <p>
        We provide you with the current market price ranges of select coins!
      </p>
      <p>
        At Trading Price Forum, we are passionate about creating a thriving
        space for cryptocurrency enthusiasts and traders alike. Our platform
        offers a seamless experience, allowing users to stay connected with
        real-time crypto rates, discover valuable insights, and actively
        participate in a dynamic community.
      </p>
      <p>
        Whether you're a seasoned trader or a newcomer to the crypto world, our
        user-friendly interface, secure login/logout features, personalized
        dashboard, and the ability to add favorite coins make Trading Price
        Forum your one-stop destination for an enriched and informed crypto
        trading journey.
      </p>
      <p>
        Join us in shaping the future of crypto discussions and empowering every
        user with the tools they need to navigate the exciting world of digital
        assets.
      </p>

      <p>Thank you!</p>
    </section>
  </body>
</html>
