<!doctype html>
<html>
  <head>
    <title>Welcome to <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css"/>
  </head>
  <body>
    <%- include('header') %>
    <h1>Welcome to <%=siteName%></h1>
    <p><a href="about">About <%=siteName%></a></p>
    <p><a href="search">Search Coins</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="addbook">Add a coin</a></p>
    <p><a href="list"> List of coin prices</a></p>
    <p><a href="bargainbooks"> Cheapest Coins</a></p>
  </body>
</html>
