<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=siteName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body id="home">
    <%- include('header') %>
    <section class="content">
      <div class="container">
        <h1><b><span> <%=siteName%></span></b></h1>
        <p><b>
          Welcome to Trading Price Forum, your go-to destination for staying
          informed on the latest cryptocurrency prices and trends. Explore
          real-time updates, engage in insightful discussions, and make informed
          trading decisions with our comprehensive platform. Join our community
          of crypto enthusiasts and elevate your trading experience today.
        </b></p>
        <a id="joinnow" href="/auth/signup">JOIN NOW</a>
      </div>
    </section>
  </body>
</html>

        <!---------------------------Footer------------------------------------------------------------------------------->
        <footer class="sticky-footer">
          <div class="footer-txt">
              <h1>Trading Pricer</h1>
              <p>The official website of Trading Pricer.</p>
              <ul class="socials-footer">
                  <li><a href="#top">Home</a></li>
                  <li><a href="mailto: mahme006@campus.goldsmiths.ac.uk">E-Mail</a></li>
              </ul>
              <p>&copy; Trading Pricer 2023</p>
          </div>
      </footer>
  </main>
</body>
</html>