<!-- searchInput.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <style>
body {
    background-color: black;
    color: rgb(216, 155, 24);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    font-size: 16px;
    width: 450px; 
    margin: 15px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(216, 155, 24);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color:rgb(61, 213, 14);
}

    </style>
</head>
<body>
    <%- include('header') %>
    <h1>Search&#129502;</h1>
    <!-- Search Form -->
    <form action="/search" method="post">
        <input type="text" id="searchTerm" name="searchTerm" required placeholder="Search by coin name or coin ID or coin Symbol">
        <button type="submit">Search&#128269;</button>
    </form>
</body>
</html>
        <!---------------------------Footer------------------------------------------------------------------------------->
        <footer class="sticky-footer">
            <div class="footer-txt">
                <h1>Trading Pricer</h1>
                <p>The official website of Trading Pricer.</p>
                <ul class="socials-footer">
                    <li><a href="#top">Back to Top</a></li>
                    <li><a href="mailto: mahme006@campus.goldsmiths.ac.uk">E-Mail</a></li>
                </ul>
                <p>&copy; Trading Pricer 2023</p>
            </div>
        </footer>
    </main>
  </body>
  </html>