<!-- src/views/signup.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
           .signup {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #271d01;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    h1 {
        text-align: center;
        color: rgb(205, 149, 18);
    }

    form {
        background-color: #000000;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 20px rgb(205, 149, 18);
        width: 300px;
    }

    label {
        display: block;
        margin-bottom: 8px;
        color: rgb(255, 149, 18);
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid rgb(205, 149, 18);
        border-radius: 4px;
    }

    button {
        background-color: #000000;
        color: rgb(255, 164, 6);
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        border-radius: 2px;
    }

    button:hover {
        background-color:rgb(255, 164, 6);
        color: #000000;
    }
    
    </style>
</head>
<body class="signup">
    <h1>Signup</h1>
    <span class="s1" style="color:rgb(255, 164, 6);"> Join now for FREE! Track your favourite coins with ease at Trading Pricer &#128200;&#129502;</span>
    <form action="/auth/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>

        <button type="submit">Signup</button>
    </form>
</body>
</html>
