body {background-color: rgb(201, 76, 76);}
h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    color: rgb(60, 7, 255);
}

h2 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    color: rgb(0, 37, 245);
}

p,li {
    font-family: "Lucida Console", "Courier New", monospace;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    color: rgb(12, 12, 12);
    text-decoration: none;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(51, 0, 255);
    padding:5px;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
    padding:5px;
  }
